<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-template #book>
  <span>Book</span>
</ng-template>

<ng-container *ngIf="items">
  第一个面包屑：
  <ng-container *ngFor="let item of items">
    <span class="breadcrumb-item" [innerHTML]="item.elementRef.nativeElement.innerHTML | safeHtml"></span>
  </ng-container>
  <br />
  第二个面包屑：
  <ng-container *ngFor="let item of items">
    <span class="breadcrumb-item" [innerHTML]="item.elementRef.nativeElement.innerHTML | safeHtml"></span>
  </ng-container>
</ng-container>

<br>
<!-- <ng-container *ngIf="content">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-container>
<ng-container *ngIf="content">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-container> -->
<!-- <ng-container *ngTemplateOutlet="content"></ng-container> -->
